name: Spring Boot CI

on:
  push: 
    branches: [ main ]
  pull_request:
     branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build & Test
        run: ./gradlew build
        
      - name: Run Application
        run: ./gradlew bootRun

